body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  /* justify-content: center; */
  padding-top: 30%;
  /* margin-top: 3%; */
  border-radius: 10%;
  background-color: orange;
  width: 33vw;
}
