body {
  min-width: 630px;
}
.container {
  overflow: hidden;
  /* padding-left: 100px; */
  /* padding-right: 200px; */
  position: relative;
}

.center {
  background-color: #1abc9c;
  height: 200px;
  float: left;
  margin-left: 120px;
  margin-right: 200px;
}
.left {
  background-color: #c1c;
  width: 120px;
  height: 200px;
  float: left;
  margin-left: -100%;
  /* position: absolute;
  left: 0;
  top: 0; */
}
.right {
  float: left;
  background-color: #8c2;
  width: 200px;
  height: 200px;
  margin-left: -200px;
}
