@import "./base.css";

body {
  background-color: #efefef;
}

div {
  height: 300px;
}
.left {
  width: 200px;
  background-color: pink;
  float: left;
}

.right {
  background-color: deeppink;
  overflow: hidden;
}

.item {
  background-color: gold;
  height: 120px;
  margin: 10px;
}

.wrap {
  height: 400px;
  background-color: hotpink;
  /* position: relative; */
}
.position {
  height: 200px;
  width: 200px;
  background-color: indigo;
  position: relative;
  left: 50px;
  /* display: none; */
  visibility: hidden;
}
.absolute {
  height: 200px;
  width: 200px;
  background-color: greenyellow;
  position: absolute;
  right: 0;
  /* top: 0; */
  bottom: 0;
}
