@import "./base.css";

.container {
}

.item {
  box-sizing: border-box;
  width: 25%;
  height: 200px;
  background-color: greenyellow;
  float: left;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  position: relative;
}
.item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #000;
}
